<h1>Phasmophobia Helper</h1>

<button
  mat-icon-button
  (click)="toggleMobile()"
  [class.mobile-btn-selected]="isMobile"
  class="mobile-btn"
>
  <mat-icon>smartphone</mat-icon>
</button>

<div id="entry">
  <div *ngFor="let e of evidence">
    <button
      mat-stroked-button
      class="evidence-btn"
      (click)="toggleEvidence(e)"
      [class.selected]="currentEvidence.includes(e)"
      [disabled]="
        remainingEvidence.includes(e) || currentEvidence.includes(e)
          ? null
          : true
      "
    >
      <mat-icon class="ghost-evidence">{{ evidenceIconMap[e] }}</mat-icon>
      {{ e }}
    </button>
  </div>

  <button mat-icon-button color="warn" (click)="reset()">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div class="ghost-section">
  <app-ghost
    *ngFor="let ghost of isMobile ? possibleGhosts : ghosts"
    [ghost]="ghost"
    [class.unavailable]="!possibleGhosts.includes(ghost)"
    [currentEvidence]="currentEvidence"
  ></app-ghost>
</div>
