<h1>Phasmophobia Helper</h1>

<div id="entry">
  <mat-form-field>
    <mat-label>Evidence 1</mat-label>
    <mat-select
      [value]="evidence1"
      (selectionChange)="evidence1Changed($event.value)"
    >
      <mat-option [value]="null">None</mat-option>
      <mat-option *ngFor="let e of evidence" [value]="e">{{ e }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Evidence 2</mat-label>
    <mat-select
      [value]="evidence2"
      (selectionChange)="evidence2Changed($event.value)"
    >
      <mat-option [value]="null">None</mat-option>
      <mat-option *ngFor="let e of evidence" [value]="e">{{ e }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Evidence 3</mat-label>
    <mat-select
      [value]="evidence3"
      (selectionChange)="evidence3Changed($event.value)"
    >
      <mat-option [value]="null">None</mat-option>
      <mat-option *ngFor="let e of evidence" [value]="e">{{ e }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="reset()">Clear</button>
</div>

<h2>Evidence Left</h2>
<ul>
  <li *ngFor="let evidence of remainingEvidence">{{ evidence }}</li>
</ul>

<h2>Ghost</h2>
<ul>
  <li *ngFor="let ghost of possibleGhosts">
    <strong>{{ ghost.name }}</strong>
    &nbsp;
    <small
      >({{
        removeAll(ghost.evidence, [evidence1, evidence2, evidence3])
          | arrayFormat
      }})</small
    >
  </li>
</ul>
