@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Patrick+Hand&display=swap");

:host {
  display: block;
  padding: 16px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
}

h1,
h2 {
  font-family: "Patrick Hand", cursive;
}

mat-form-field {
  margin-right: 16px;
}

#entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.evidence-btn {
  margin: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.evidence-btn .ghost-evidence {
  margin-top: 5px;
  font-size: 16px;
}

.evidence-btn:disabled {
  opacity: 0.5;
}

.selected {
  background-color: black;
  color: white;
}

.unavailable {
  opacity: 0.1;
}

.mobile-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  opacity: 0.3;
}

.mobile-btn-selected {
  opacity: 1;
}

.ghost-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
