@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Patrick+Hand&family=Roboto&display=swap");

html {
  height: 100%;
  background: #e0dbba;
}

body {
  margin: 0;
  display: block;
  padding: 16px;
  font-size: 14px !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
}

h1,
h2 {
  font-family: "Patrick Hand", cursive;
}

.clear-btn {
  color: #f44336 !important;
}

.clear-btn:hover {
  background-color: transparent;
}

#entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.evidence-btn {
  margin: 8px !important;
  font-size: 12px !important;
  text-transform: none !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.evidence-btn .ghost-evidence {
  font-size: 16px;
}

.evidence-btn:disabled {
  opacity: 0.5;
}

.selected {
  background-color: black !important;
  color: white !important;
}

.ruled-out {
  background-color: #f44336 !important;
  color: white !important;
  text-decoration: line-through !important;
}

.unavailable {
  opacity: 0.1 !important;
}

.ghost-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
